[Unit]
Description=gunicorn kittygram daemon
After=network.target
[Service]
User=root
WorkingDirectory=/var/www/html/infra_sprint1/backend/
ExecStart=/var/www/html/infra_sprint1/venv/bin/gunicorn --bind 0:8080 kittygram_backend.wsgi
[Install]
WantedBy=multi-user.target